<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <div class="placeholder">
    <input type="tel" data-tel-input placeholder="Телефон">
    <p>{{name}}</p>
    </div>
</body>

</html>
